@model DefaultWebShop.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ProductViewModel</h4>
<hr />
<div class="container bg-dark text-center rounded">
    <div class="jumbotron bg-warning rounded-circle">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Name" class="form-control-sm" placeholder="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Price" class="form-control-sm" placeholder="Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Stock" class="form-control-sm" placeholder="Stock" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input name="image" asp-for="ImagePath" type="file" class="form-control-sm" placeholder="Image" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="GenreID" asp-items="@ViewBag.Genres" class="form-control-sm"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

