@using DefaultWebShop.Services
@inject IGenreService _genreService

@{ 
    var list = await _genreService.GetGenres();
}

<div class="btn-group">
    <button type="button" class="btn btn-warning" asp-controller="Products" asp-action="Index">Products</button>
    <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
        @foreach (var genre in list)
        {
            <a class="dropdown-item" asp-controller="Products" asp-action="ProductsByGenre" asp-route-id="@genre.GenreID">@genre.Name</a>
        }
    </div>
</div>